# ---- OS ----
.DS_Store
Thumbs.db

# ---- Compiled binaries ----
*.exe
*.out
*.app

# ---- Build folders ----
build/
bin/
obj/

# ---- Debug files ----
*.log
*.tmp

# ---- IDE ----
.vscode/
.idea/
*.code-workspace

# ---- CMake ----
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# ---- LeetCode temp ----
temp/
